:root {
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-azul: #01164D;
    --color-celeste: #297FB6;
    --color-marron: #956C3E;

    --fuente-titulos: 'Oswald', sans-serif;
    --fuente-subtitulos: 'Montserrat', sans-serif;
    --fuente-parrafos: 'Lato', sans-serif;
    --fuente-botones: 'Montserrat', sans-serif;
    --fuente-menu: 'Poppins', sans-serif;

    --tamano-titulos: 3rem;
    --tamano-subtitulos: 1.75rem;
    --tamano-parrafos: 1.125rem;
    --tamano-botones: 0.875rem;
    --tamano-menu: 0.875rem;
    
    --peso-titulos: bold;
    --peso-subtitulos: 600;
    --peso-parrafos: 400;
    --peso-botones: 700;
    --peso-menu: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-parrafos);
    font-size: var(--tamano-parrafos);
    font-weight: var(--peso-parrafos);
    background: var(--color-blanco);
    color: var(--color-negro);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 1em 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    height: 3rem; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

nav ul li a {
    font-family: var(--fuente-menu);
    font-size: var(--tamano-menu);
    font-weight: var(--peso-menu);
    color: var(--color-blanco);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--color-marron);
}

.social-icons a {
    color: var(--color-blanco);
    font-size: 1.25rem;
    margin-left: 1em;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--color-marron);
}

.banner {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    background: url('imagenes/banner-inicio.png') no-repeat center center/cover;
    color: var(--color-blanco);
    padding: 2em;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner h1 {
    font-size: var(--tamano-titulos);
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos);
}

.banner p {
    font-size: var(--tamano-subtitulos);
    margin: 2.5em 0;
    font-family: var(--fuente-subtitulos);
    font-weight: var(--peso-subtitulos);
}

.btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    background: var(--color-azul);
    color: var(--color-blanco);
    text-decoration: none;
    font-size: var(--tamano-botones);
    font-family: var(--fuente-botones);
    font-weight: var(--peso-botones);
    border-radius: 0.5em;
    transition: 0.3s;
}

.btn:hover {
    background: var(--color-marron);
}

#btnSubir {
    position: fixed;
    bottom: 2em;
    right: 1.5em;
    width: 3.125rem;
    height: 3.125rem;
    background: var(--color-azul);
    color: var(--color-blanco);
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: 0.3s;
    z-index: 100;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);

}

#btnSubir:hover {
    background: var(--color-marron);
}

/* Texto */
.info-section {
    height: 31.125rem;
    background: var(--color-blanco);
    color: var(--color-negro);
    text-align: center;
    padding: 4em 2em;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 75px; 
}

.info-section h2 {
    font-size: var(--tamano-subtitulos);
    font-family: var(--fuente-subtitulos);
    font-weight: var(--peso-subtitulos);
    max-width: 56.25rem;
    margin: 0;
}

.info-section p {
    font-size: var(--tamano-parrafos);
    font-family: var(--fuente-subtitulos);
    max-width: 50rem;
    margin: 0;
}

/* Beneficios */
.benefits {
    text-align: center;
    padding: 4em 2em;
    background: var(--color-blanco);
    color: var(--color-negro);
}

.benefits h2 {
    font-size: var(--tamano-titulos);
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos);
    margin-bottom: 3.125rem;
}

.benefits-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 3.125rem;
    max-width: 56.25rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.benefit {
    width: 34.375rem;
    height: 23rem;
    background: var(--color-marron);
    color: var(--color-blanco);
    padding: 2em;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    font-size: 3.4375rem;
    color: var(--color-blanco);
    margin-bottom: 3.125rem; 
}

.benefit h3 {
    font-size: var(--tamano-subtitulos);
    font-family: var(--fuente-subtitulos);
    font-weight: var(--peso-subtitulos);
    margin-bottom: 2.5rem; 
}

.benefit p {
    width: 27.75rem;
    font-size: var(--tamano-parrafos);
    font-family: var(--fuente-parrafos);
}

/* Cursos Populares*/
.cursos-populares {
    text-align: center;
    padding: 6em 4em;
    background: var(--color-blanco);
    color: var(--color-negro);
}

.cursos-populares h2 {
    font-size: 2.5rem;
    font-family: var(--fuente-titulos);
    font-weight: bold;
    margin-bottom: 0.5em;
}

.cursos-populares p {
    font-size: 1.25rem;
    font-family: var(--fuente-parrafos);
    margin-bottom: 2em;
}

.carrusel-container {
    width: 1513px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.carrusel {
    padding: 1.5em;
    display: flex;
    gap: 0.6em;
    transition: transform 0.5s ease-in-out;
}

.curso {
    flex: 0 0 33.33%; 
    background: var(--color-blanco);
    color: var(--color-negro);
    padding: 1.5em;
    border-radius: 0.5em;
    text-align: center;
    gap: 3.125rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.curso h3 {
    margin-bottom: 3.125rem;
}

.curso img {
    width: 400px;
    height: 225px;
    object-fit: cover;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

/* Navegación */
.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: var(--color-marron);
}

/* CTA */
.cta {
    width: 100%;
}

.cta__imagen {
    position: relative;
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cta__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.cta__contenido {
    position: absolute;
    text-align: center;
    color: var(--color-blanco);
    font-family: var(--fuente-subtitulos);
}

.cta__contenido h2 {
    font-family: var(--fuente-titulos);
    font-size: var(--tamano-titulos);
    font-weight: var(--peso-titulos);
    margin-bottom: 0.5em;
}

.cta__boton {
    display: inline-block;
    padding: 0.75em 2em;
    background: var(--color-blanco);
    color: var(--color-azul);
    font-size: var(--tamano-botones);
    font-weight: var(--peso-botones);
    font-family: var(--fuente-botones);
    text-decoration: none;
    border-radius: 0.5em;
    transition: background 0.3s ease-in-out;
}

.cta__boton:hover {
    background: var(--color-marron);
    color: var(--color-blanco);
}

/* Testimonios */
.testimonios {
    background: #F8F9FA;
    padding: 3em 1em;
    text-align: center;
}

.testimonios h2 {
    font-size: var(--tamano-titulos);
    font-weight: var(--peso-titulos);
    font-family: var(--fuente-titulos);
    margin-bottom: 1.5em;
    color: var(--color-azul);
}

.contenedor-testimonios {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    max-width: 80em;
    margin: 0 auto;
}

.testimonio {
    background: var(--color-blanco);
    padding: 1.5em;
    flex: 1;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 25em;
}

.testimonio p {
    font-size: var(--tamano-parrafos);
    font-weight: var(--peso-parrafos);
    font-family: var(--fuente-parrafos);
    color: var(--color-negro);
}

.estrellas {
    font-size: 1.5em;
    color: var(--color-marron);
    margin: 0.5em 0;
}

cite {
    font-size: var(--tamano-botones);
    font-weight: var(--peso-subtitulos);
    font-family: var(--fuente-subtitulos);
    color: var(--color-celeste);
    display: block;
    margin-top: 0.5em;
}

/* Cursos */
.footer {
    background: var(--color-azul);
    color: var(--color-blanco);
    font-family: var(--fuente-parrafos);
}

/* Cursos */
.footer-cursos {
    padding: 3em 2em;
}

.footer-cursos h2 {
    font-size: var(--tamano-subtitulos);
    font-weight: var(--peso-titulos);
    text-align: center;
    margin-bottom: 1em;
}

.cursos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.cursos-column {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.cursos-column h3 {
    font-size: 1.25rem;
    font-weight: var(--peso-subtitulos);
    margin-bottom: 2em;
}

.cursos-column a {
    display: block;
    color: var(--color-blanco);
    text-decoration: none;
    font-size: var(--tamano-parrafos);
    margin: 0.3em 0;
    margin-top: 1.5rem;
}

/* Información General */
.footer-info {
    padding: 3em 2em;
    background: var(--color-azul);
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.info-column {
    flex: 1;
    min-width: 250px;
}

.logo-footer {
    width: 14rem;
    margin-bottom: 1em;
}

.info-column h3 {
    font-size: 1.5rem;
    font-weight: var(--peso-subtitulos);
    margin-bottom: 2rem;
}

.info-column p {
    font-size: var(--tamano-parrafos);
    font-family: var(--fuente-parrafos);
    font-weight: var(--peso-parrafos);
    margin-bottom: 2rem;
}

.info-column a {
    display: block;
    color: var(--color-blanco);
    text-decoration: none;
    margin: 0.5em 0;
}

/* Redes sociales */
.redes {
    display: flex;
    justify-content: center;
    gap: 1.5em;  
    margin-top: 2rem;
}

.redes-sociales a {
    text-align: center;
}

.icono-social img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s, color 0.3s;
}

.icono-social img:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

/* Derechos Reservados */
.footer-derechos {
    background: #01123C;
    text-align: center;
    padding: 1.5em;
    font-size: 1rem;
}

/* Animación */
.slider-container {
    width: 100%;
    height: 541px;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    padding: 0 7.5rem;
    transition: opacity 1.5s ease-in-out;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.texto {
    width: 40rem;
    padding: 2rem;
    text-align: center;
    color: var(--color-negro);
    font-family: var(--fuente-parrafos);
}

.texto h2 {
    font-size: var(--tamano-subtitulos);
    font-weight: var(--peso-subtitulos);
}

.texto p {
    font-size: var(--tamano-parrafos);
}

.slide:first-child {
    opacity: 1;
}

#slide-dos {
    background: var(--color-azul);
}

#slide-dos h2 {
    color: var(--color-blanco);
}

/* Móvil */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
    }

    .benefits-container {
        grid-template-columns: 1fr; 
    }

    .contenedor-testimonios {
        flex-direction: column;
        align-items: center;
    }

    .cursos-container, .info-container {
        flex-direction: column;
        text-align: center;
    }

    .info-column {
        text-align: center;
    }

    .redes-sociales img {
        margin: 0 0.5em;
    }

}